td {
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

th {
    border-bottom: 1px solid black;
}
tfoot td {
    border-top: 2px solid black;
    border-bottom: 1px solid black;
}

.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% { opacity: 0.25; }
}